# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# VSCode-specific
.vscode/
.vscodeignore

# Environment and package management
venv/
env/
.env
.idea/
*.egg-info/
dist/
build/

# Compiled files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook-specific
.ipynb_checkpoints/
*.ipynb_meta/

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db

# Test
input.txt